.skip-button-container {
  padding: 20px 20px 0px 0px;
  text-align: right;
  .skip-button {
    font-size: 45px;
    animation: movebtn 2.5s ease-in-out infinite;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: red;
      animation: none;
    }
  }
  span {
    font-size: 20px;
  }

  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
